# Node Modules
node_modules/

# Distribution / Build
dist/
build/
public/  # If your build outputs to a public directory

# Editor Temporary Files
.*.swp
*~
.#*
.DS_Store # OS X .DS_Store files
Thumbs.db # Windows thumbnail cache files

# Log files
*.log

# Dependency Managers (but DON'T ignore lockfiles - see below)

# Environment Variables
.env
*.env
# Specific environment variable files (optional)
.env.local
.env.development
.env.production

# IDE specific files
.idea/  # IntelliJ IDEA / PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Compiled output files
*.pyc  # Python
*.class # Java
